<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heathendean.catfarts"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity
            android:name="com.heathendean.catfarts.MainActivity"
            android:label="@string/app_name">
            <!--android:label="@string/title_activity_main" > -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.heathendean.catfarts.play.Play"
            android:label="@string/title_activity_start_game"
            android:parentActivityName="com.heathendean.catfarts.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heathendean.catfarts.MainActivity" />
        </activity>
        <activity android:name="com.heathendean.catfarts.instructions.Instructions"
            android:label="@string/title_activity_commands"
            android:parentActivityName="com.heathendean.catfarts.instructions.Instructions">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heathendean.catfarts.instructions.Instructions" />
        </activity>
        <activity
            android:name="com.heathendean.catfarts.settings.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.heathendean.catfarts.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heathendean.catfarts.MainActivity" />
        </activity>
        <activity
            android:name="com.heathendean.catfarts.contact.Contact"
            android:label="@string/title_activity_contact"
            android:parentActivityName="com.heathendean.catfarts.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heathendean.catfarts.MainActivity" />
        </activity>
        <activity
            android:name="com.heathendean.catfarts.settings.cat.Cat"
            android:label="@string/title_activity_contact"
            android:parentActivityName="com.heathendean.catfarts.settings.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heathendean.catfarts.MainActivity" />
        </activity>
        <activity
            android:name="com.heathendean.catfarts.settings.fart.Farts"
            android:label="@string/title_activity_contact"
            android:parentActivityName="com.heathendean.catfarts.settings.Settings" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.heathendean.catfarts.MainActivity" />
        </activity>
    </application>    
</manifest>
